numpy
pandas
pyarrow
mp-api
matgl>=2.0
torch>=2.1
nvidia-cusparselt-cu12>=0.6
torch-geometric
lightning>=2.0
torchmetrics
pymatgen-core
ase
monty
matplotlib
scipy
scikit-learn
jupyterlab
ipykernel
tqdm
pyyaml
mlflow
wandb
xgboost
matminer
tabulate
chgnet>=0.4
alignn>=2024
dgl
